/* Importing a font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;}

/* Styles for the entire body of the page */  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #dcd9cd;
}

/* Styles for unordered list (menu) */
ul {
  position: relative;
}

/* Styles for list items in the menu */
ul li {
  list-style: none; /* Remove default list style */
  text-align: center;
}

/* Styles for links in list items */
ul li a {
  color: #333;
  text-decoration: none; /* Remove underline from links */
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

/* Hover effect for links in the menu */
ul:hover li a {
  color: #0002;
}

/* Hover effect for list items */
ul li:hover a {
  color: #000;
  background: transparent;
}

/* Styles for a pseudo-element before the link text */
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

/* Hover effect for the pseudo-element */
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

/* Apply specific styles based on the index of list items */
ul li:nth-child(6n + 1) a:before {
  background: #472646; /* Background color for first, seventh, thirteenth, etc. items */
}
ul li:nth-child(6n + 2) a:before {
  background: #6a365c; /* Background color for second, eighth, fourteenth, etc. items */
}
ul li:nth-child(6n + 3) a:before {
  background: #a04e7a; /* Background color for third, ninth, fifteenth, etc. items */
}
ul li:nth-child(6n + 4) a:before {
  background: #e96f9f;
}
ul li:nth-child(6n + 5) a:before {
  background: #ff9dc9;
}
ul li:nth-child(6n + 6) a:before {
  background: #e96f9f;
}
